a {
    color: black;
    background-color: inherit;
}
.login-area {
    font-size: 13px;
    color: gray;
    background-color: inherit;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: gray;
    background-color: inherit;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
    background-color: inherit;
}

.login-link:hover {
    text-decoration: underline;
}

.error {
    color: red;
    background-color: inherit;
}

.label {
  /*display: block;*/
  /*font-size: 20px;*/
  color: black;
  background-color: inherit;
  /*background-color: white;*/
}

.label + .label {
    margin-top: 20px;
}

/*input[type=text], input[type=password] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}*/

input[type=submit] {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}


.main-title {
    display: block;
    color: #222;
    background-color: inherit;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.post + .post {
    margin-top: 5em;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    background-color: inherit;
    display: inline-block;
}

.post-title:visited {
    color: #666;
    background-color: inherit;
}

.post-date {
    /*position: absolute;*/
    /*right: 0px;*/
    text-align: right;
    color: #999;
    background-color: inherit;
    display: inline-block;
}

.post-content-preview {
    margin-top: 5px;
    max-height: 6em;
    overflow: hidden;
}

.age {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: gray;
    background-color: inherit;
    font-size: 12px;
}

.voting {
    margin: 1em 0 1em 0;
    width: 100%;
    text-align: center;
    color: grey;
    background-color: inherit;
}

/*the link elements inside the .voting div*/
.voting > a {
    color: grey;
    background-color: inherit;
}

.post-header-bar {
    height: 5em;
}

.vcenter {
    display: flex;
    align-items: center;
}

.btn-post {
    margin: 0 5px 0 5px;
    color: inherit;
    border-color: grey;
    border-width: 2pt;
    background-color: whitesmoke;
}

.btn-comment {
    margin: 0 2px 0 2px;
    color: inherit;
    font-size: 8pt;
    border-width: 1pt;
    background-color: whitesmoke;
}

.upvote, .downvote {
    border: none;
    background-color: transparent;
}

.orange {
    color: orange;
    background-color: inherit;
}

.blue {
    color: steelblue;
    background-color: inherit;
}

.comment-content {
    background-color: lavenderblush;
}
