{% import 'voting.html' as voting %}

{% macro post(post, user) -%}
    <div class="row">
        <div class="col-sm-1 pull-left">
            {{voting.voting(post, user)}}
        </div>
        <article class="col-sm-11 post">
            <div class="row">
                <div class="col-sm-9 post-header-bar">
                    <a class="post-title" href="/blog/{{post.key().id()}}">
                        <h3>{{post.subject}} - {{post.author}}</h3>
                    </a>
                </div>
                <div class="col-sm-3">
                    <div class="btn-group pull-right post-header-bar vcenter">
                        <form action="/blog/{{post.key().id()}}/edit" method="get">
                            <button type="submit" name="edit" class="btn btn-post">Edit</button>
                        </form>
                        <form action="/blog/{{post.key().id()}}/delete" method="post">
                            <button type="submit" name="delete" class="btn btn-post">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- <h4 class="post-date">{{post.created}}</h4> -->
            <!-- <h3>{{post.key().id()}}</h3> -->
            <pre class="row post-content">{{ post.content }}</pre>
        </article>
    </div>
{%- endmacro %}
