{% import 'voting.html' as voting %}

{% macro post(post, user) -%}
    <div class="row">
        <div class="col-xs-1">
            {{voting.voting(post, user)}}
        </div>
        <article class="col-xs-11 post">
            <div class="row">
                <div class="col-xs-9 post-header-bar">
                    <h3 class="post-title">{{post.subject}} - {{post.author}}</h3>
                </div>
                <div class="col-xs-3">
                    <div class="btn-group post-header-bar vcenter right">
                        <form action="/blog/{{post.key().id()}}/edit" method="get">
                            <button type="submit" name="edit" class="btn btn-edit">Edit</button>
                        </form>
                        <form action="/blog/{{post.key().id()}}/delete" method="post">
                            <button type="submit" name="delete" class="btn btn-edit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- <h4 class="post-date">{{post.created}}</h4> -->
            <!-- <h3>{{post.key().id()}}</h3> -->
            <pre class="row post-content">{{ post.content }}</pre>
        </article>
    </div>
{%- endmacro %}
