{% import 'blogpost.html' as blogpost %}

{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <h2>Edit Post</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <form method="post">
            <div class="form-group">
                <label>
                  <div>Subject</div>
                  <input type="text" name="subject" class="form-control" value="{{post.subject}}">
                </label>
            </div>
            <div class="form-group">
                <label>
                  <div>Content</div>
                  <textarea name="content" class="form-control">{{post.content}}</textarea>
                </label>
            </div>
            <div class="form-group">
                <div class="error">{{error}}</div>
            </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <form method="get" action="/blog/{{post.key().id()}}">
            <button type="link" class="btn btn-link">Cancel</button>
        </form>
    </div>
</div>
{% endblock %}
