{% import 'blogpost.html' as blogpost %}
{% import 'voting.html' as voting %}

{% extends "base.html" %}

{% block content %}
    <div class="row main-title">
        <h1>Latest Posts</h1>
        <hr />
    </div>

    {% for post in posts %}
    <article>
        <div class="row">
            <div class="col-xs-1">
            </div>
            <div class="col-xs-11">
                <a href="/blog/{{post.key().id()}}">
                    <h2 class="row post-title">{{post.subject}} - {{post.author}}</h2>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1">
                {{voting.voting(post, user)}}
            </div>
            <div class="col-xs-11">
                <pre class="row post-content-preview">{{ post.content }}</pre>
            </div>
        </div>
    </article>


    {% endfor %}

{% endblock %}
