{% extends "base.html" %}
{% block content %}
<h3>Login</h3>
<form method="post">
    <table>
        <tbody>
            <tr>
                <td class="label">Username</td>
                <td><input type="text" name="username" value="{{username}}"></td>
                <td class="error">{{username_error}}</td>
            </tr>
            <tr>
                <td class="label">Password</td>
                <td><input type="password" name="password" value="{{password}}"></td>
                <td class="error">{{ password_error }}</td>
            </tr>
        </tbody>
    </table>
    <input type="submit">
</form>
{% endblock %}
