{% import 'blogpost.html' as blogpost %}
{% import 'blogcomment.html' as blogcomment %}

{% extends "base.html" %}

{% block content %}
<div class="row post-heading">
    <div class="col-sm-6">
        <h2>View Post</h2>
    </div>
</div>
{{ blogpost.post(post) }}
<div class="row">
    <hr />
</div>
{% if user %}
    <div class="row">
        {{ blogcomment.newcomment(post, comment, user)}}
    </div>
{% endif %}
<div class="row comments">
    {% for comment in comments %}
        {{ blogcomment.comment(post, comment) }}
    {% endfor %}
</div>
{% endblock %}
