{% macro voting(post, user) -%}
<div class="voting">
    <form action="/blog/{{post.key().id()}}/up" method="post">
        {% if post.get_user_score(user.key().id()) == 1 %}
            <button type="submit" name="upvote" class="upvote orange">⬆</button>
        {% else %}
            <button type="submit" name="upvote" class="upvote">⬆</button>
        {% endif %}
    </form>
    <div>•</div>
    <form action="/blog/{{post.key().id()}}/down" method="post">
        {% if post.get_user_score(user.key().id()) == -1 %}
            <button type="submit" name="downvote" class="downvote blue">⬇</button>
        {% else %}
            <button type="submit" name="downvote" class="downvote">⬇</button>
        {% endif %}
    </form>
</div>
{%- endmacro %}
